@charset "utf-8";

body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

div {
    text-align: center;
}
  
img {
    margin: auto;    
}

a {
    color :white;
    text-decoration: none;
}